.color-field {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.5rem;
  flex-grow: 1;
  border-radius: 0;
  border: none;
}

.button-separator {
  width: 1px;
  height: 100%;
  background-color: #000;
}
